<div class="container mt-4">
  <h2>Companies</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a *ngFor="let company of companies" 
           (click)="selectCompany(company)"
           class="list-group-item list-group-item-action"
           [class.active]="selectedCompany?.id === company.id">
          {{ company.name }}
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="selectedCompany" class="card">
        <div class="card-header">
          <h3>{{ selectedCompany.name }}</h3>
        </div>
        <div class="card-body">
          <p><strong>Description:</strong> {{ selectedCompany.description }}</p>
          <p><strong>City:</strong> {{ selectedCompany.city }}</p>
          <p><strong>Address:</strong> {{ selectedCompany.address }}</p>
          
          <h4 class="mt-4">Vacancies</h4>
          <div *ngIf="companyVacancies.length > 0" class="list-group">
            <div *ngFor="let vacancy of companyVacancies" class="list-group-item">
              <h5>{{ vacancy.name }}</h5>
              <p><strong>Salary:</strong> ${{ vacancy.salary }}</p>
              <p>{{ vacancy.description }}</p>
            </div>
          </div>
          <div *ngIf="companyVacancies.length === 0" class="alert alert-info">
            No vacancies available for this company.
          </div>
        </div>
      </div>
      <div *ngIf="!selectedCompany" class="alert alert-info">
        Select a company to view details
      </div>
    </div>
  </div>
</div> 