*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
header nav {
  justify-content: space-between;
  height: 56px;
}
header nav .logo {
  height: 25px;
}
header nav .logo img {
  height: 100%;
}
header nav .home-link {
  align-items: center;
}
header nav .home-link li {
  list-style: none;
  margin-left: 24px;
}
header nav .home-link li:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
}
header nav a {
  text-decoration: none;
  color: #262626;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .secondary-links {
  align-items: center;
}
header nav .secondary-links a {
  color: #4b53bc;
}
header nav .secondary-links .btn-signin {
  border-radius: 3px;
  padding: 6px 12px;
  margin-left: 12px;
  border: 1px solid #4b53bc;
}
header .alert {
  height: 58px;
  align-items: center;
  justify-content: center;
  background-color: #5b5fc7;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
}
header .alert a {
  color: #fff;
  text-decoration: none;
}
header .alert a .link {
  margin: 0 12px;
}
header .alert a .link:hover {
  text-decoration: underline;
}
header .alert a .link:hover .arrow {
  margin-left: 4px;
}
main {
  min-height: 895px;
  position: relative;
}
main .bg-image {
  height: 100%;
}
main .bg-image img {
  width: 100%;
}
main .main-section {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
}
main .main-section .card {
  width: calc(500% / 12);
  padding: 48px;
}
main .main-section .card > * {
  margin-bottom: 24px;
}
main .main-section .card h1 {
  font-size: 50px;
  font-weight: 600;
}
main .main-section .card .link-group {
  column-gap: 24px;
}
main .main-section .card .link-group .btn-primary {
  border-radius: 2px;
  background-color: #5d5bd4;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
}
main .main-section .card .link-group .btn-secondary {
  border-radius: 2px;
  background-color: #fff;
  color: #5d5bd4;
  border: 2px solid #5d5bd4;
  padding: 10px 12px;
  text-decoration: none;
}
